@import "mixins.less";

@baseGreen: #8dc63f;
@baseGray: #24334A;

html,body {
  background: @baseGray;
  font-family: Helvetica, tahoma;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
}

.game {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  .user-select(none);
}

.horizon {
  position: absolute;
  left: 0;
  right: 0;
  background-color: @baseGreen;
  height: 5px;
}

.ground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    .grass {
      stroke: none;
    }

    .verticals {
      stroke: darkcyan;
      stroke-width: 1px;
    }
  }

  .marker {
    height: 1px;
    left: 0px;
    right: 0px;
    overflow: visible;
    background-color: @baseGreen;
    position: absolute;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

.bubble {
  .user-select(none);
  position: absolute;
  .border-radius(50%);
  display: inline-block;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: white;
}
