html,
body {
  background: #24334a;
  font-family: Helvetica, tahoma;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
}
.game {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.horizon {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #8dc63f;
  height: 5px;
}
.ground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ground svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.ground svg .grass {
  stroke: none;
}
.ground svg .verticals {
  stroke: darkcyan;
  stroke-width: 1px;
}
.ground .marker {
  height: 3px;
  left: 0;
  right: 0;
  overflow: visible;
  background-color: #8dc63f;
  position: absolute;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}
.bubble {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  -webkit-border-radius: 50%;
  -ie-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: white;
}
