@import "mixins.less";

@baseGreen: #8dc63f;
@baseGray: #24334A;

html,body {
  background: @baseGray;
  font-family: Helvetica, tahoma;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
}

.game {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  .user-select(none);
  background-color: darkcyan;
}

.horizon {
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: @baseGreen;
  height: 5px;
}
