html,
body {
  background: #24334a;
  font-family: Helvetica, tahoma;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
}
.game {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: darkcyan;
}
.horizon {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #8dc63f;
  height: 5px;
}
.ground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ground svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.ground svg .grass {
  stroke: none;
}
.ground svg .verticals {
  stroke: #777;
  stroke-width: 1px;
}
